# Bonus: Temperature Analysis I

In [65]:
import pandas as pd
from datetime import datetime as dt

In [82]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [83]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

df.dtypes
print(df)

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [68]:
# Set the date column as the DataFrame index
df = df[['date','station','prcp','tobs']]
#print(df)
df.set_index('station')
print(df)

            date      station  prcp  tobs
0     2010-01-01  USC00519397  0.08    65
1     2010-01-02  USC00519397  0.00    63
2     2010-01-03  USC00519397  0.00    74
3     2010-01-04  USC00519397  0.00    76
4     2010-01-06  USC00519397   NaN    73
...          ...          ...   ...   ...
19545 2017-08-19  USC00516128  0.09    71
19546 2017-08-20  USC00516128   NaN    78
19547 2017-08-21  USC00516128  0.56    76
19548 2017-08-22  USC00516128  0.50    76
19549 2017-08-23  USC00516128  0.45    76

[19550 rows x 4 columns]

In [84]:
# Drop the date column
drop_date_df = df.drop('date', 1)
print(drop_date_df)

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [85]:
from scipy import stats

In [86]:
#Identify the average temperature in June at all stations across all available years in the dataset. 

june_df = df[df['date'].dt.month == 6]
#print(june_df)
avg_june_temp = june_df.groupby(['station'])['tobs'].mean()
avg_june_temp

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [89]:
#Identify the average temperature in December at all stations across all available years in the dataset.
dec_df = df[df['date'].dt.month == 12]
#print(dec_df)
avg_dec_temp = dec_df.groupby(['station'])['tobs'].mean()
avg_dec_temp

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [97]:
#Identify the average temperature in July at all stations across all available years in the dataset.
jul_df = df[df['date'].dt.month == 7]
#print(jul_df)
avg_jul_temp = jul_df.groupby(['station'])['tobs'].mean()
avg_jul_temp

station
USC00511918    75.238095
USC00513117    75.259912
USC00514830    77.241706
USC00516128    72.847826
USC00517948    78.039370
USC00518838    74.560000
USC00519281    74.620968
USC00519397    78.417355
USC00519523    77.862661
Name: tobs, dtype: float64

In [98]:
# Run paired t-test June vs July
stats.ttest_ind(avg_june_temp, avg_jul_temp, equal_var=False)

Ttest_indResult(statistic=-1.2715898642880572, pvalue=0.22169444293981028)

In [90]:
# Run paired t-test June vs December
stats.ttest_ind(avg_june_temp, avg_dec_temp, equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

In [ ]:
pvalue is below the limit, therefore, the difference in the means of June vs December is statistically significant.
I also did the ttest for June vs July. pvalue of ttest is above the limmit. Average temperature of June vs July is about the same.